.card-header {
  height: 18rem;
  background-image: url('https://images.unsplash.com/photo-1516562309708-05f3b2b2c238?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');
  background-position-y: 50%;
}

.card-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 50px;
  width: 120%;
  background: #ffffff;
  transform: translateY(50%) rotate(5deg);
}
