/* html, */
/* body { */
/*   padding: 0; */
/*   margin: 0; */
/*   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, */
/*     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
/* } */

/* a { */
/*   color: inherit; */
/*   text-decoration: none; */
/* } */

/* * { */
/*   box-sizing: border-box; */
/* } */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}


@layer base {
    body {
        overflow-x: hidden;
    }
  h1 h2 h3 h4 h5 h6 {
    @apply shadow-magical;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;

  }
}

body {
    background-color: #fff;
    margin-top: 0;
    padding-top: 0;
}
